.notificationBlock {
    max-height: 0px;
    width: 400px;
    visibility: hidden;
    background-color: #fff;
    border-radius: 16px;
    position: absolute;
    left: -430px;
    top: 0px;
    transition: max-height 0.8s ease-out;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    @media (width < '40rem'){
        left: 0;
        width: 100%;

        z-index: 40;
    }

    &::-webkit-scrollbar {
        width: 0px !important; 
    }
    &::-webkit-scrollbar-thumb {
        background-color: transparent; 
    }

    &.active {
        height: auto; 
        max-height: 300px;
        overflow-y: auto;
        visibility: visible;

        &::-webkit-scrollbar {
            width: 4px; 
        }
    }
}

.mail {
    background-image: url('../../assets/icons/letter/LetterIcon.svg');
    background-position: 5%;
    background-size: 28px;
    background-repeat: no-repeat;
}