.resetBtn{
    background-image: url('../../assets/icons/reset.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 93%;

    background-color: #60A5FA;
    color: #fff;

    padding: 5px 35px 5px 10px;
    box-sizing: border-box;
    
    font-size: 16px;
    font-weight: 600;
    text-align: left;

    border-radius: 12px;
}

.search{
    width: 300px;
    height: 40px;

    background-color: rgb(221, 221, 221);
    border-radius: 12px;

    padding: 10px 10px 10px 35px;
    box-sizing: border-box;

    background-image: url('../../assets/icons/search.svg');
    background-position: 2%;
    background-repeat: no-repeat;
    background-size: auto;

    border: none;
    outline: none;

    transition: all .3s ease-in-out;

    &::placeholder {
        color: rgb(121, 121, 121);
        opacity: 1; 
    }
      
    &::-ms-input-placeholder {
        color: rgb(121, 121, 121);
    }
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    margin-left: .4em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
}