.action{
    width: 100%;

    text-align: left;

    padding: 4px 10px 4px 40px;
    box-sizing: border-box;

    font-size: 14px;
    font-weight: 500;

    transition: background-color .3s ease-in-out;

    cursor: pointer;

    background-position: 10px;
    background-size: 20px;
    background-repeat: no-repeat;

    &:hover{
        background-color: #00000010;
    }
}

.edit{
    border-radius: 8px 8px 0 0;

    background-image: url('../../assets/icons/edit.msg.svg');
}

.copy{
    background-image: url('../../assets/icons/copy.msg.svg');
}

.delete{
    border-radius: 0 0 8px 8px;
    
    background-image: url('../../assets/icons/delete.svg');
}

  