.resetBtn{
    background-image: url('../../assets/icons/reset/ResetIcon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 93%;

    background-color: #60A5FA;
    color: #fff;

    padding: 5px 35px 5px 10px;
    box-sizing: border-box;
    
    font-size: 16px;
    font-weight: 600;
    text-align: left;

    border-radius: 12px;
}