@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-upload-list-item.ant-upload-list-item-error{
  border: 1px solid gray;
}

.ant-checkbox-wrapper{
  margin-top: 5px;
  margin-left: 3px;
}
